[Desktop Entry]
Name=EKO
GenericName=EKO Sound Editor
Comment=Record and edit audio files
Icon=eko
Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;
Exec=eko %F
StartupNotify=false
Terminal=false
MimeType=audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;application/ogg;audio/x-vorbis+ogg;
